.progress-bar-container {
  box-shadow: 0.1vw 0.1vw #888;

  flex: 1;
  max-height: 4.5vh;
  width: 100%;

  transform: translateY(-50%);
  border-radius: 0.3vw;
  overflow: hidden;

  top: 3vh;
  position: relative;
}

.progress-bar-child {
  width: 100%;
  height: 100%;
}

.progress {
  color: white;
  text-align: center;
  animation-direction: reverse;
  background: #e5405e;

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #119e18 0%, #119e18 50%, #ffdb3a 80%, #e5405e 100%);
}

.shrinker {
  background-color: #333;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

/*
.timelapse {
  animation-name: timelapse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.86, 0.05, 0.4, 0.96);
}

@keyframes timelapse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
*/
