body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  min-height: 100vh;
}

header {
  height: 10vh;
}

header img {
  padding: 0.8vw;
  /*max-height: 10vh;*/
  max-height: 7vh;
}

#content {
  display: flex;
  background-color: #ddd;
  height: 90vh;
}

#content > section {
  background-color: #f1f1f1;
  margin: 0.5vw;
  padding: 0.5vw;
  flex: 1;
}

#content > #left-sidebar {
  flex-grow: 15;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#content > #right-sidebar {
  flex-grow: 85;
  display: flex;
  flex-direction: column;
}

#content > #right-sidebar #cards {
  flex: 1;
  display: grid;
  gap: 1vw;
}

.card p {
  margin: 0;
}

.card {
  background: repeating-linear-gradient(45deg, #1d7d36, #1d7d36 1vw, #35944f 1vw, #35944f 2vw);
  box-shadow: 0.3vw 0.3vw #888;
  color: white;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5vw;
}

#alert {
  display: none;
  max-width: 100%;
  margin: 0 auto;
}

#alert > p {
  background-color: yellow;
  color: red;
  padding: 1vh 1vw;
  font-size: 1.5vw;
  margin: 0;
  margin-top: 2vh;
}
